:root {
  --main-color: #004c00;
  --default-transition: 250ms;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 40px 15px 0px 15px;
}
.card {
  border: 3px solid var(--main-color);
  padding: 15px 80px 80px 80px;
  margin-right: 15px;
  max-height: 570px;
  height: 570px;
}
.card:hover {
  transition: var(--default-transition);
  border: 6px solid var(--main-color);
  background-color: whitesmoke;
}
.cardCharSearch {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardCharSearchInput {
  border-top: 3px solid var(--main-color);
  border-right: 3px solid var(--main-color);
  border-bottom: 3px solid var(--main-color);
  border-left: 3px solid var(--main-color);
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  padding-left: 20px;
  height: 35px;
  width: 300px;
  outline: none;
}
.cardCharButtonSeach {
  border-top: 3px solid var(--main-color);
  border-right: 3px solid var(--main-color);
  border-bottom: 3px solid var(--main-color);
  border-left: 3px solid var(--main-color);
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  height: 35px;
  width: 100px;
  outline: none;
  cursor: pointer;
  background-color: var(--main-color);
  color: white;
}
.cardCharButtonSeach:hover {
  transition: var(--default-transition);
  background-color: white;
  color: var(--main-color);
}
.cardCharHeader {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
}
.charAvatar {
  height: 25rem;
  width: 25rem;
}
.cardCharRandomIcon {
  font-size: 26px;
  margin-bottom: 20px;
  cursor: pointer;
}
.cardCharRandomIcon:hover {
  transition: var(--default-transition);
  background-color: var(--default-color);
  font-size: 38px;
}
.charInformationTextTitle {
  font-size: 20px;
  padding-right: 10px;
}
.charInformation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding-left: 30px;
}
.cardCharLoader {
  display: absolute;
  justify-content: center;
  align-items: center;
}
.cardEpisode {
  border: 3px solid var(--main-color);
  padding: 15px 60px 60px 60px;
  margin-left: 15px;
  overflow-y: auto;
  max-height: 570px;
}
.cardEpisode:hover {
  transition: var(--default-transition);
  border: 6px solid var(--main-color);
  background-color: whitesmoke;
}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;    
    margin: 0px;
  }
  .card {
    padding: 15px 10px 10px 10px;
    margin-top: 15px;
    margin-bottom: 25px;
    margin-left: 5px;
    max-height: 600px;
    height: 600px;
  }
  .cardCharHeader {
    flex-direction: column;
    padding-top: 15px;
  }
  .charAvatar {
    height: 25rem;
    width: 20rem;
  }
  .charInformation {
    align-items: center;
  }
  .cardCharRandomIcon {
    margin-top: 10px;
  }
  .cardCharSearchInput {
    height: 35px;
    width: 190px;
  }
  .cardCharButtonSeach {
    height: 35px;
    width: 80px;
  }
  .cardEpisode {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--main-color);
    overflow-y: auto;    
    margin-bottom: 25px;
    margin-top: 15px;
    max-height: 600px;
    height: 300px;
    width: 330px;
  }
  .cardEpisodeList {
    padding: 15px 0px 15px 0px;
  }
  li:first-child {
    margin-top: 60px;
  }
}

.cardEpisodeList {
  border: 3px solid var(--main-color);
  margin-bottom: 15px;
  padding: 15px;
}

ul {
  list-style-type: none;
}
p {
  text-align: left;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 16px;
  text-align: center;
  padding-left: 5px;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 16px;
  text-align: center;
  padding-left: 5px;
}
:-ms-input-placeholder {
  /* IE 5+ */
  font-size: 16px;
  text-align: center;
  padding-left: 5px;
}
:-moz-placeholder {
  /* Firefox 18- */
  font-size: 16px;
  text-align: center;
  padding-left: 5px;
}
